 html {
    overflow: hidden; 
}
body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    width: 100vw;
    background-image: linear-gradient(
        to bottom right, 
        #2301ff, 
        #000000  
    );
    background-repeat: no-repeat;
}

/* --- NOVO ESTILO: CENTRALIZAR O CONTEÚDO PRINCIPAL --- */
.content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color: white;
    font-family: sans-serif;
    text-align: center;
}
.content-wrapper h1 {
    margin: 0;
    font-size: 2em;
}

        .avaliacoes {
            text-align: center;
            padding: 50px 0;
        }

        .avaliacoes h2 {
            font-size: 48px;
            background: #00000060;
            display: inline-block;
            padding: 20px 60px;
            border-radius: 12px;
            margin-bottom: 50px;
        }

        .cards-container {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
            gap: 40px;
            max-width: 1000px;
            margin: 0 auto;
        }

        .card {
            background: #FFF4D1;
            color: black;
            padding: 30px;
            border-radius: 15px;
            width: 350px;
            margin: 0 auto;
            position: relative;
        }

        .user-icon {
            font-size: 40px;
            background: #FFBB00;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: -50px auto 10px auto;
        }

        .stars {
            font-size: 26px;
            margin-top: 15px;
            color: #F4B400;
        }